body {
    margin: 0;
    padding: 0;
    background: #f0fcff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    text-align: justify;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15%;
    padding-right: 15%;
}

h2 {
    font-family: "DejaVu Sans Mono";
}

#header {
    height: 640px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#header ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    margin: 0;
}

#header div {
    height: 69px;
    text-align: center;
}

.logo-container {
    vertical-align: top;
    display:inline-block;
}

#header img {
    height: 69px;
    display: inline-block;
}

#header div:hover {
    background-color: white;
}

#header ul li {
    float: left;
}

#header li a:hover {
    background-color: #0c8918;
}

#header ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}

#header .active {
    background-color: #4CAF50;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer a {
    text-decoration: none;
    width: 20%;
    color: gray;
}

.clear {
    clear: both;
}

.banner {
    /*margin: 0 auto;*/
}